@font-face {
  font-family: '87MMILSANG-Oblique';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201@1.0/87MMILSANG-Oblique.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@import url("https://cdn.jsdelivr.net/gh/wanteddev/wanted-sans@v1.0.1/packages/wanted-sans/fonts/webfonts/variable/split/WantedSansVariable.min.css");


ul {
  list-style: none; /*리스트 점 생기는거 방지*/
}

* {
  margin: 0;
  padding: 0;
}

*,
:after,
:before {
  box-sizing: border-box; /*content영역과 테두리영역을 합쳐서 설정한 width나 height가 되게하는 것 */
}
:root {
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  cursor: default;
  line-height: 1.15;
  overflow-wrap: break-word;
  word-break: break-word;
  tab-size: 4;
}
html,
body {
  background: #9dd9ff;
  height: 100%;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
button {
  background: none;
  border: 0;
  cursor: pointer;
}
li,
a {
  text-decoration: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 40px;
  width: 100%;
  height: 92px;
  font-family: 'Wanted Sans';
  font-weight: 900;
  z-index: 40;
  font-size: 24px;
  min-width: auto;
}

.container {
  height: auto;
  min-height: 100%;
  /*padding-bottom: 183px;*/
}

.container img,
.footer img {
  width: 100%;
}

footer {
  top: 900px;
  position: relative;
  float: left;
  width: 100%;
  /* height: 183px; */
}

.name {
  float: left;
  padding-left: 128px;
  color: #fff;
  cursor: pointer;
}
.name:hover {
  text-shadow: 2px 3px 10px #b6e2ff;
}

.move-tap {
  float: right;
  padding-right: 128px;
  color: #f5f4f4;
  cursor: pointer;
}
.move-tap span:hover {
  color: white;
}

.move-tap span {
  margin-right: 40px;
}

.move-tap span:last-child {
  margin-right: 0;
}

.letter {
  width: 100px;
  height: auto;
  transition: transform 2s ease;
  position: fixed;
  right: 32px;
  bottom: 32px;
}

.letter:hover {
  animation: spin 6s infinite linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.message {
  width: 500px;
  height: auto;
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}

.modal-bg {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(242, 242, 242, 0.8);
  z-index: 90;
}

.show {
  display: block;
}

.introduce-page {
  background-color: #9dd9ff;
  width: auto;
  height: 1080px;
  padding: 1px;
  margin: 0 auto;
}

#introduce section {
  float: left;
  width: 891px;
  height: 765px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);

}

.left-contents {
  margin-top: 160px;
  float: left;
  color: white;
  font-family: Wanted Sans;
  font-weight: 500;
  font-size: 16px;
}

.left-bottom {
  margin-top: 12px;
}

.profile-image {
  width: 402px;
  height: 530px;
}

.move-to-notion-btn {
  color: #fff;
  font-family: '87MMILSANG-Oblique';
  font-size: 16px;
  font-style: oblique;
  border: 2px solid #fff;
  padding: 20px 141px;
  transition: color 0.5s ease-in; background-color: 0.5s ease-in;
}

.move-to-notion-btn:hover {
  color: #1481cf;
  background-color: #fff;
}

.right-contents {
  margin-top: 160px;
  float: right;
}

.flex-colomn {
  display: flex;
  flex-direction: column;
  gap: 0;
}
.oblique {
  font-family: '87MMILSANG-Oblique';
  font-style: oblique;
}

.eng-name {
  margin-bottom: 4px;
}

.kor-name {
  font-size: 48px;
}

.introduce {
  margin-top: 24px;
  width: 400px;
  line-height: 22px;
  letter-spacing: 0.6px;
}

.line {
  margin-top: 24px;
  margin-bottom: 24px;
  border: 1px solid #fff;
}

.detail-flex {
  display: flex;
  align-items: flex-start;
  gap: 16px;
  margin-bottom: 12px;
}

.detail-flex:nth-child(3) {
  margin-bottom: 0px;
}

.link-text {
  margin-bottom: 8px;
}

.icon-flex {
  display: flex;
  align-items: center;
  padding-top: 8px;
  gap: 24px;
}

.icon {
  cursor: pointer;
  width: 32px;
  height: 32px;
}

.center-align {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media all and (max-width: 2500px) and (min-width: 1000px) {
  #introduce section {
    transform: translate(-50%, 0);
    height: 400px;
  }
  footer {
    top: 900px;
    position: relative;
    float: left;
    width: 100%;
    /* height: 183px; */
  }

  .letter {
    width: 70px;
  }
}

@media all and (max-width: 999px) and (min-width: 10px){
  #introduce section {
    position: relative;
    width: 800px;
    height: 1400px;
    left: 50%;
    transform: translate(-50%, 0);

  }

  .left-contents {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 700px;
    margin-top: 160px;
    float: left;
    color: white;
    font-family: Wanted Sans;
    font-weight: 500;
    font-size: 16px;
  }

  .right-contents {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 0;
    margin-top: 160px;
    float: right;
  }

  footer {
    top: 0px;
    position: relative;
    float: left;
    width: 100%;
    /* height: 183px; */
  }

  .letter {
    width: 90px;
  }

}