ul {
  list-style: none; /*리스트 점 생기는거 방지*/
}

* {
  margin: 0;
  padding: 0;
}

*,
:after,
:before {
  box-sizing: border-box; /*content영역과 테두리영역을 합쳐서 설정한 width나 height가 되게하는 것 */
}
:root {
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  cursor: default;
  line-height: 1.15;
  overflow-wrap: break-word;
  word-break: break-word;
  tab-size: 4;
}
html,
body {
  height: 100%;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
button {
  background: none;
  border: 0;
  cursor: pointer;
}
li,
a {
  text-decoration: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background-color: #B6E2FF;
}


.title {
  color: #ffffff;
  text-align: center;
  font-family: "Rubik Scribble";
  font-size: 130px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20%;
}

.sub-title {
  color: #fff;
  text-align: center;
  font-family: "87MM ILSANG";
  font-size: 24px;
  font-style: oblique;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 24px;
}

.back-to-home-btn {
  color: #fff;
  font-family: "87MM ILSANG";
  font-size: 16px;
  font-style: oblique;
  border: 2px solid #fff;
  padding: 20px 146px;
  transition: color 0.5s ease-in;
  background-color:  0.5s ease-in;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 24px;
}

.back-to-home-btn:hover {
  color: #1481cf;
  background-color: #fff;
}


@media all and (min-width: 768px) and (max-width: 1170px) {
  .header {
    font-size: 22px;
    padding-top: 32px;
  }

  .name {
    padding-left: 64px;
  }

  .title {
    font-size: 100px;

  }
  
  .sub-title {
    font-size: 20px;
  }

  .back-to-home-btn {
    font-size: 14px;
    padding: 18px 132px;
  }

}

@media all and (min-width: 767px) and (max-width: 1023px) {
  .header {
    font-size: 20px;
    padding-top: 24px;
  }

  .name {
    padding-left: 56px;
  }

  .title {
    font-size: 80px;

  }
  
  .sub-title {
    font-size: 16px;
  }

  .back-to-home-btn {
    font-size: 14px;
    padding: 18px 132px;
  }
}

@media all and (min-width: 500px) and (max-width: 900px) {
  .header {
    font-size: 14px;
    padding-top: 16px;
  }

  .name {
    padding-left: 48px;
  }

  .title {
    font-size: 64px;

  }
  
  .sub-title {
    font-size: 14px;
  }

  .back-to-home-btn {
    font-size: 12px;
    padding: 16px 108px;
  }

}

@media all and (max-width: 499px) {
  .header {
    font-size: 12px;
    padding-top: 14px;
  }

  .name {
    padding-left: 40px;
  }

  .title {
    font-size: 40px;

  }
  
  .sub-title {
    font-size: 12px;
  }

  .back-to-home-btn {
    font-size: 10px;
    padding: 8px 80px;
  }


}
